<html>
    <head>        
    </head>
    <body>
        <div>
            <div>APk :</div>
            <div> <a href="/apk/release.apk">link</a>   </div>
        </div>
        <div>
            <div>web</div>
            <div> <a href="/authentication">link</a>   </div>
        </div>
    </body>
</html>